@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Outfit',sans-serif;
    font-size: 18px;
}
.container{
    
    background-color: hsl(217, 54%, 11%);
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: hsl(216, 50%, 16%);
    max-width: 270px;
    
}

.image{
    position: relative;
    
    
    
}
.preview{
    position: absolute;
    width: 100%;
    height: 98%;
    border-radius: 10px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 255, 247,0.3);
    transition: 0.5s ease-in-out;
    opacity:0 ;
    z-index: 1;
    cursor: pointer;
    visibility: hidden;
}


 .card>.image>img{
    border-radius: 10px;
    width: 270px;
    opacity: 1;
    
}
.image:hover .preview {
    visibility: visible;
    opacity: 1;
}





.autor{
    border-top: 2px hsl(215, 51%, 70%) solid;
    border-width: thin;
    padding-top: 15px;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    
}
.autor img{
    width:30px;
    margin-right: 15px;
    border: 1.5px solid white;
    border-radius: 50%;
    display: flex;
    
    
}
.info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}
h1{
    font-size: 1.4rem;
    margin-top: 20px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

h1:hover{
    color: hsl(178, 100%, 50%);
   
}
p{
    font-size: 0.9rem;
    margin-top: 10px;
    font-weight: 400;
    margin-bottom: 20px;
    color: hsl(215, 51%, 70%);
}
span{
    font-size: 0.9rem;
}
.eth{
    margin-right: 2px;
    width: 0.45em;
}
.time{
    margin-right: 2px;
    width: 0.7em;
}
.price{
    font-weight: 600 ;
    color:hsl(178, 100%, 50%);
    
}
.delay{
    color: hsl(215, 51%, 70%);
}
div.delay,a{
    font-weight: 300;
    font-size: 0.9rem;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: hsl(178, 100%, 50%);
    
}
.autor div a{
    font-weight: 600;
}
